h1 {
  /* where h1 is called selector */
  color: red;
  /* color is called as rule */
  /* red is a property */
  /* and a semicolon at the end */
  /* We can add multiple attributes to one tag */
  border: 2px solid blue;
  background: black;
}

h2 {
  /* this applies to all the occurences of h2 selectors */
  color: blue;
}

/* we can also use hexadecimal color codes for color values */
/* a hash/pound symbol has to be included before color code */
/* https://www.w3schools.com/colors/colors_hex.asp */
p {
  color: #0FF3F7;
  /* can play around with changing color codes lil bit, 000000, FFFFFF, etc */
}

/* we can also use rgb values for coloring */
/* https://www.w3schools.com/colors/colors_rgb.asp */
h3 {
  color: rgb(174, 75, 65)
}

/* we can also mention opacity/transparency in rgb method */
h4 {
  color: rgba(0, 0, 0, 0.4)
}